* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.top-bar {
    background-color: #fff;
    box-shadow: -0.1875rem -0.75rem 2.25rem 0.9375rem #DCDCDC;
}

.top-nav {
    font-size: 1rem;
    height: 6rem;
    max-width: 71.25rem;
    margin: 0 auto;
}

.top-nav__logo {
    width: 3.5rem;
}

.top-nav__links {
    display: inline-block;
}

.top-nav__links li {
    display: inline-block;
}

.top-nav__links li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #545454;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.top-nav__links li a:hover {
    color: #A53AF2;
}