/* @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --violet: #B139B6;
    --violet-dark: #7425A4;
    --violet-mid: #A53AF2;
    --primary-heading-color: #545454;
    --primary-text-color: #737373;
    --primary-link-color: #44B3E8;
    --primary-box-shadow-color: #DCDCDC;
    --white: #fff;
    --primary-gradient: linear-gradient(135deg, #E32DFB 0%, #607AE9 50%, #3AD6F3 100%);
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
    color: var(--primary-heading-color);
    font-weight: 400;
    letter-spacing: 0.3rem;
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

p,
input,
textarea {
    line-height: 1.5;
    letter-spacing: 0.05rem;
    font-weight: 300;
    color: var(--primary-text-color);
}

p {
    font-size: 1.2rem;
}

input,
textarea {
    font-size: 0.8rem;
}

strong {
    font-weight: 800;
}

a,
a:visited,
a:active {
    color: var(--primary-link-color);
    text-decoration: none;
}

.container {
    max-width: 71.25rem;
    margin: 0 auto;
}

.equal-cols {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.equal-cols>* {
    flex-grow: 1;
    flex-basis: 0;
}

.section-paddings {
    padding: 6rem 2rem;
}

a.primary-button,
a.primary-button:active,
button.primary-button {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--violet);
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.05rem;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

a.primary-button:hover,
button.primary-button:hover {
    background-color: var(--violet-dark);
}

.top-bar {
    background-color: var(--white);
    box-shadow: -0.1875rem -0.75rem 2.25rem 0.9375rem var(--primary-box-shadow-color);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 6rem;
}

.top-nav__logo {
    width: 3.5rem;
    margin: 1rem;
}

.top-nav__links {
    display: inline-block;
}

.top-nav__links li {
    display: inline-block;
}

.top-nav__links li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--primary-heading-color);
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    font-size: 0.9rem;
    font-weight: 500;
}

.top-nav__links li a:hover {
    color: var(--violet-mid);
}

.hero {
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__text__heading {
    color: var(--white);
}

.hero__text__paragraph {
    color: var(--white);
    margin-top: 2rem;
}

.hero__text__button {
    margin-top: 2rem;
}

.hero__image img {
    width: 100%;
}

.about__text__paragraph {
    margin-top: 2rem;
}

.about__text__button {
    margin-top: 2rem;
}

.about__image img {
    width: 100%;
}

.features__container {
    padding-top: 0;
}

.features__text__paragraph {
    margin-top: 2rem;
}

.features__text__button {
    margin-top: 2rem;
}

.features__image img {
    width: 100%;
}

.features__text__list__item {
    display: flex;
    align-items: start;
    margin-top: 2rem;
    gap: 1.5rem;
}

.features__text__list__item__icon {
    width: 4rem;
}

.features__text__list__item__paragraph {
    margin-top: 1rem;
}

.services {
    background: var(--primary-gradient);
}

.services__container {
    gap: 2rem;
}

.services__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 2rem 1.5rem;
    gap: 1.2rem;
    text-align: center;
}

.services__card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--violet);
    border-radius: 9999px;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
}

.services__card__heading {
    font-weight: 500;
}

.services__card__description {
    font-size: 0.9rem;
}